<ion-header>
  <ion-toolbar>
    <ion-title>Rates</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of items">
    <ion-item>{{item.currency}} {{item.exchangeRate}}</ion-item>
  </ion-list>

</ion-content>
